body, p, ul, li {
    font-family: Helvetica;
    font-size: 16px;
}
a:link, a:visited {
    color: #a32e8b;
}
img {
    border-radius: 3px;
}
img.left {
    float: left;
    margin: 0 1em 1em 0;
}
img.right {
    float: right;
    margin: 0 0 1em 1em;
}
img.medium {
    width: 53%;
}

h1, h2, h3 {
    color: #a32e8b;
}

