body, p, ul, li {
    font-family: helvetica !important;
    font-size: 16px;
}
p {

    width: 100%;
}
a {
    color: #a32e8b !important;
}
img {
    /* float: right; */
    width: 53%;
    margin: 0em 0% 1em 1em;
    border-radius: 3px;
}
h1, h2, h3 {
    color: #a32e8b;
}

