body, p, ul, li {
    font-family: Helvetica;
    font-size: 16px;
}
a, a:link, a:visited, .book .book-body .page-wrapper .page-inner section.normal a {
    color: #a32e8b;
}
.book .book-body .page-wrapper .page-inner section.normal a.glossary-term {
    color: rgb(51,51,51) !important;
    text-decoration: none !important;
}
img {
    border-radius: 3px;
}
.left {
    float: left;
    margin: 0 1em 1em 0;
}
.right {
    float: right;
    margin: 0 0 1em 1em;
}
.medium {
    width: 53%;
}
.small {
    width: 33%;
}
h1, h2, h3 {
    color: #a32e8b;
}

